<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ltd.syskaoqin.springboot.dao.mapper.DayOffMapper">

    <select id="selectByOpenidAndDate" resultType="Integer">
        select * from dayoff_apply where openid=#{openid} and is_pass=1 and dayoff_time like #{dayOffTime}
    </select>

</mapper>